.topic-container {
    display: flex;
    /* height: 100%; */
    /* justify-content: center; */
    flex-direction: column;
    padding: 40px;
    margin: 50px;
    min-width: 500px;
    height: 55%;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    box-shadow: whitesmoke;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

    .first-row {
        display: flex;
        justify-content: space-between;
    }

    .final-row {
        display: flex;
        .sub-topic-container {
            display: flex;
            justify-content: space-between;
        }
    }
}

.subTopics {
    display: flex;
    flex-direction: row;
}
.full-width {
    margin-bottom: 10px;
    padding-right: 30px;
}
