<form [formGroup]="topicForm">

    <div class="topic-container">

        <div class="first-row">

            <mat-form-field class="full-width">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title"/>
            </mat-form-field>
    
            <mat-form-field class="full-width">
                <mat-label>AllotedTime</mat-label>
                <input matInput formControlName="allotedTime" />
            </mat-form-field>
    
        </div>

        <div class="final-row">

            <div formArrayName="subTopic">
                <div class="subTopics" *ngFor="let item of subtopics.controls; let pointIndex=index" [formGroupName]="pointIndex">
    
                    <mat-form-field class="full-width">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="subtopicTitle" />
                    </mat-form-field>
    
                    <mat-form-field class="full-width">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="subtopicDesc" />
                    </mat-form-field>
    
                    <button mat-mini-fab color="warn" (click)="deleteSubtopic(pointIndex)">
                        <mat-icon>remove</mat-icon>
                    </button>
    
                </div>
    
                <button mat-raised-button color="primary" (click)="addSubTopic()">Add Subtopic</button>
    
            </div>

        </div>

        
    </div>

</form>