:host(app-account) {
    width: 100%;
}

.profile-outer-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    // align-items: center;
    .profile-inner-container {
        display: flex;
        min-width: 760px;
        height: 55%;
        // background-color: skyblue;
        padding: 25px;
        border-radius: 10px;
        margin-top: 60px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .inner-column {
            display: flex;
            flex-direction: column;
            margin: 30px;
            p {
                padding-right: 20px;
                margin: 0;
                &.label {
                    font-size: 15px;
                    font-weight: 400;
                    margin-bottom: 5px;
                }
                &.value {
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
            }
            &.image-column {
                position: relative;
                input {
                    position: absolute;
                    width: 100%;
                    height: 200px;
                    cursor: pointer;
                    opacity: 0;
                }
                .profile-image {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100px 100px;
                    // background-image: url("http://simpleicon.com/wp-content/uploads/camera.png");
                    border: 1px solid #c3c3c3;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                    cursor: pointer;
                }
            }
        }
    }
}
