<div class="profile-outer-container">
    <div class="profile-inner-container">

        <div class="inner-column image-column">
            <input type="file" (input)="onImageChanged($event)">
            <img class="profile-image" [style.backgroundImage]="backgroundImage" />
        </div>
        <div class="inner-column">
            <p class="label">Name</p>
            <p class="value">{{user.userName}}</p>
            <p class="label">Email</p>
            <p class="value">{{user.email}}</p>
        </div>
        <div class="inner-column">
            <p class="label">Mobile</p>
            <p class="value">{{user.phoneNumber}}</p>
            <!-- <p class="label">Username</p>
            <p class="value">Sreekesh</p> -->
        </div>
    </div>
</div>