<h2 mat-dialog-title>Topic</h2>
<form class="form fields">

    <mat-form-field class="example-form-field" mat-dialog-content>
        <mat-label>Title</mat-label>
        <input matInput type="text" [formControl]="titleFormControl" placeholder="Numbers">
    </mat-form-field>

    <mat-form-field class="example-form-field" mat-dialog-content>
        <mat-label>Alloted Time</mat-label>
        <input matInput type="text" [formControl]="allotedFormControl" placeholder="3 hrs">
    </mat-form-field>

    

    <div class="submit" mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onAdd()">ADD</button>
        <button mat-raised-button color="warn" (click)="onNoClick()" mat-dialog-close>Cancel</button>
    </div>


</form>
