:host(app-login) {
    width: 100%;
}
.outer-container {
    display: flex;
    height: 100%;
    background-color: royalblue;
    justify-content: center;
    align-items: center;
    .card {
        padding: 30px;
        max-width: 400px;
        border-radius: 15px;
        .form {
            min-width: 150px;
            max-width: 500px;
            width: 100%;
        }
        .full-width {
            width: 100%;
            margin-bottom: 10px;
        }
        .submit {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                min-width: 150px;
                background-color: #ffab49;
                color: #333;
            }
        }
    }
}
