<div class="outer-container">
    <div class="inner-container">
        <mat-card class="card">
            <mat-card-content>
                <form class="form">

                    <mat-form-field class="full-width">
                        <mat-label>UserName</mat-label>
                        <input type="email" matInput [formControl]="userNameFormCntrl" placeholder="Bahubali"
                            maxlength="40">
                        <mat-error *ngIf="userNameFormCntrl.hasError('required') && !userNameFormCntrl.value">
                            UserName is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="userNameFormCntrl.hasError('minlength')">
                            Username should contain atleast 4 characters.
                        </mat-error>
                        <mat-error
                            *ngIf="userNameFormCntrl.hasError('pattern') && !userNameFormCntrl.hasError('minlength')">
                            Please enter a valid UserName(Username should start and end with alphabet and can contain
                            only .,_,-)
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput [formControl]="passwordCntrlr">
                        <mat-error *ngIf="passwordCntrlr.hasError('required') && !passwordCntrlr.value">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="passwordCntrlr.hasError('minlength')">
                            Please enter a password with 8 or more chars
                        </mat-error>
                        <mat-error *ngIf="passwordCntrlr.hasError('pattern') && !passwordCntrlr.hasError('minlength')">
                            Please should contain atleast a Capital letter, one special char and a number
                        </mat-error>

                    </mat-form-field>

                    <div class="submit">
                        <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
                    </div>


                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>