<div class="syllabus-container">

    <div class="top-row">

        <mat-form-field appearance="fill" mat-dialog-content>
            <mat-label>Board</mat-label>
            <mat-select [formControl]="boardFormControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let board of boards" [value]="board">
                    {{board}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="boardFormControl.hasError('required')">Please choose Board</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" mat-dialog-content>
            <mat-label>Class</mat-label>
            <mat-select [formControl]="classFormControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let class of classes" [value]="class">
                    {{class}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="classFormControl.hasError('required')">Please choose Class</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" mat-dialog-content>
            <mat-label>Subject</mat-label>
            <mat-select [formControl]="subjectFormControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let subject of subjects" [value]="subject">
                    {{subject}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="subjectFormControl.hasError('required')">Please choose Subject</mat-error>
        </mat-form-field>

    </div>

    <div class="middle-row">

        <mat-form-field class="example-full-width desArea">
            <mat-label>Description</mat-label>
            <textarea matInput #description maxlength="150" placeholder="Ex. Chapter1 consists of Natural Numbers"
                [formControl]="syllDescripFormControl"></textarea>
            <mat-hint align="start"><strong>Enter the Description</strong> </mat-hint>
            <mat-hint align="end">{{description.value.length}} / 150</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" mat-dialog-content>
            <mat-label>Academic Year</mat-label>
            <mat-select [formControl]="acadYearFormControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let academic_Year of academic_Years" [value]="academic_Year">
                    {{academic_Year}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="acadYearFormControl.hasError('required')">Please choose Academic Year</mat-error>
        </mat-form-field>

    </div>

    <div class="last-row">
        <button mat-raised-button color="primary" (click)="addTopic()">Add Topic</button>

    </div>

    <div class="topics-container">
        <mat-tab-group animationDuration="0ms">
            <mat-tab [label]="topic.title" *ngFor="let topic of topicArray;let i = index">
                <app-topic 
                    [topic]="topic" 
                    [index]="i" 
                    (topicDialog)="topicContent($event)"
                    [isSaving]="isSaving"
                ></app-topic>
            </mat-tab>
        </mat-tab-group>


    </div>

    <div class="last-row">
        <button mat-raised-button color="primary" *ngIf="!!topicArray.length" (click)="onSaving()">Save</button>
    </div>


</div>