:host(app-syllabus) {
    width: 100%;
}

.syllabus-container {
    display: flex;
    /* height: 100%; */
    /* justify-content: center; */
    flex-direction: column;
    padding: 40px;
    margin: 50px;
    min-width: 780px;
    // height: 70%;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    box-shadow: whitesmoke;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

    .top-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .middle-row {
        display: flex;
        justify-content: space-between;
        .desArea{
            min-width: 320px;
        }
    }
    .last-row{
        display: flex;
        flex-direction: row-reverse;
    }
    .topics-container{
        display: flex;
        flex-direction: column;
    }
}

// /deep/ {
//     .mat-tab-group {
//       flex-direction: row;
//     }
//     .mat-tab-header {
//       border-bottom: none;
//     }
//     .mat-tab-header-pagination {
//       display: none !important;
//     }
//     .mat-tab-labels {
//       flex-direction: column;
//     }
//     .mat-ink-bar {
//       height: 100%;
//       left: 98% !important;
//     }
//     .mat-tab-body-wrapper {
//       flex: 1 1 auto;
//     }
//   }