<mat-toolbar class="header">
    <button mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="Menu" (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <span class="title">Hurray Tech Assignment</span>
    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="Account" (click)="goToAccount()">person</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="Logout" (click)="logout()">logout</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="container">

    <mat-drawer #drawer class="sidenav" mode="push">
        <mat-nav-list>
            <a mat-list-item (click)="drawer.close()" [routerLink]="'/account'">Account</a>
            <a mat-list-item (click)="drawer.close()" [routerLink]="'/dashboard'">DashBoard</a>
            <a mat-list-item (click)="drawer.close()" [routerLink]="'/syllabus'">Syllabus</a>
            <a mat-list-item (click)="drawer.close()" (click)="logout()">Logout</a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>