.spacer {
  flex: 1 1 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .title {
    margin-left: 5px;
    font-size: 20px;
  }
  button {
    margin-right: 10px;
  }
}
.container {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  .sidenav {
    padding-top: 60px;
    min-width: 200px;
  }
  .sidenav-content {
    height: 100%;
    display: flex;
    // align-items: center;
    // justify-content: center;
  }
}
