<div class="dashboard-container">


    <div class="addContainer">
        <button mat-fab color="primary" (click)="onAddition()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="schoolName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="colHead">
                        <h3>School Name</h3>
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value, 'schoolName')"
                                placeholder="Filter">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.schoolName}} </td>
            </ng-container>

            <ng-container matColumnDef="board">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="colHead">
                        <h3>Board</h3>
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value, 'board')" placeholder="Filter">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.board}} </td>
            </ng-container>

            <ng-container matColumnDef="medium">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="colHead">
                        <h3>Medium</h3>
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value, 'medium')" placeholder="Filter">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.medium}} </td>
            </ng-container>


            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="colHead">
                        <h3>Class</h3>
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value, 'class')" placeholder="Filter">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.class}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="actions">

                <th mat-header-cell *matHeaderCellDef>
                    <div class="colHead">
                        <h3>Actions</h3>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="action-link">
                    <button mat-icon-button>
                        <mat-icon aria-hidden="false" aria-label="Update" (click)="openDialog('Update',row)">edit
                        </mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon aria-hidden="false" aria-label="Delete" (click)="openDialog('Delete',row)"
                            [style.color]="'red'">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'"> Id </th>
                <td mat-cell *matCellDef="let row" [style.display]="'none'"> {{row.id}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" #paginatorRef></mat-paginator>
    </div>
</div>