:host(app-dashboard) {
    width: 100%;
}
.dashboard-container {
    padding: 40px;
    .addContainer{
       position: fixed;
       right: 100px;
       bottom: 20%;
       z-index: 20;
    }
    table {
        width: 100%;
    }

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    td,
    th {
        width: 20%;
    }
}

.colHead {
    padding: 0 10px;
    h3 {
        margin: 0;
        margin-top: 10px;
        font-weight: 600;
    }
}
