<form [formGroup]="topicForm">
    <h2>Topic</h2>

    <div formArrayName="topics">
        <div *ngFor="let topic of topics.controls; let topicIndex=index" [formGroupName]="topicIndex">
            <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>AllotedTime</mat-label>
                <input matInput formControlName="allotedTime" />
            </mat-form-field>

            <h2>SubTopics</h2>

            
        </div>
        <button mat-raised-button color="primary" (click)="onSaving()">AddTopic</button>
    </div>



    <button mat-flat-button color="primary" (click)="onSaving()">Save</button>
</form>