<div formArrayName="subtopics">
    <div *ngFor="let item of subtopics.controls; let pointIndex=index" [formGroupName]="pointIndex">

        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput formControlName="subtopicTitle" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput formControlName="subtopicDesc" />
        </mat-form-field>

        <button mat-mini-fab color="warn" (click)="deleteSubtopic(pointIndex)">
            <mat-icon>removeks</mat-icon>
        </button>


    </div>

    <button mat-fab color="primary" (click)="addSubTopic()">
        <mat-icon>add</mat-icon>
    </button>

</div>