<h2 mat-dialog-title *ngIf="!!data.title">{{data.title}}</h2>

<div mat-dialog-content *ngIf="!!data.message">
  <p [innerHTML]="data.message"></p>
</div>

<div mat-dialog-content *ngIf="!!data.inputFieldLabel">
  <mat-form-field>
    <mat-label>{{data.inputFieldLabel}}</mat-label>
    <input matInput [(ngModel)]="inputFieldData" cdkFocusInitial>
  </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button 
   mat-raised-button 
   color="primary" 
   mat-dialog-close
   cdkFocusInitial
   [mat-dialog-close]="inputFieldData"
   [disabled]="(!!data.inputFieldLabel)? !inputFieldData : false"
   (click)="data.primaryCallBack()"
  >
    {{data.primaryButton}}
  </button>
  <button 
   mat-raised-button 
   color="warn" 
   mat-dialog-close 
   *ngIf="!!data.secondaryButton"
  >
    {{data.secondaryButton}}
  </button>
</div>