<!-- <div class="card-container">
    <mat-card class="card">
        <mat-card-content> -->
<h2 mat-dialog-title>{{data.isUpdate? 'Update' : 'Fill in'}} the details</h2>
<form class="form fields">

    <mat-form-field class="example-form-field" mat-dialog-content>
        <mat-label>School Name</mat-label>
        <input matInput type="text" [formControl]="schoolNameFormCntrl" placeholder="Bhashyam School">
    </mat-form-field>

    <mat-form-field appearance="fill" mat-dialog-content>
        <mat-label>Board</mat-label>
        <mat-select [formControl]="boardFormControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let board of boards" [value]="board">
                {{board}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="boardFormControl.hasError('required')">Please choose Board</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" mat-dialog-content>
        <mat-label>Medium</mat-label>
        <mat-select [formControl]="mediumFormControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let medium of mediums" [value]="medium">
                {{medium}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="mediumFormControl.hasError('required')">Please choose medium</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" mat-dialog-content>
        <mat-label>Class</mat-label>
        <mat-select [formControl]="classFormControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let class of classes" [value]="class">
                {{class}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="classFormControl.hasError('required')">Please choose class</mat-error>
    </mat-form-field>

    <div class="submit" mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onAdd()">{{data.isUpdate? 'Update' : 'ADD'}}</button>
        <button mat-raised-button color="warn" (click)="onNoClick()" mat-dialog-close>Cancel</button>
    </div>


</form>
<!-- </mat-card-content>
    </mat-card>
</div> -->